@tailwind base;
@tailwind components;
@tailwind utilities;


body {
	@apply bg-main text-fontMain font-main;
}

body::-webkit-scrollbar {
	width: 4px;
}

body::-webkit-scrollbar-track {
	@apply bg-main;
}

body::-webkit-scrollbar-thumb {
	@apply bg-accent/50;
}


h1, h2, h3, h4 {
	@apply font-accent text-fontMain;
}

button {
	@apply bg-accent text-contrast;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

@layer components {
	.button {
		@apply w-fit flex items-center gap-2 py-3 px-5 text-contrast font-semibold bg-accent rounded-lg hover:animate-pulse focus:animate-pulse;
	}
}
