@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-main text-text font-default text-normal dark:bg-main-dark dark:text-text-dark;
}

html {
	scroll-behavior: smooth;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
	@apply text-heading font-medium dark:text-heading-dark;
}

h3 {
	@apply text-l;
}

h4,h5,h6 {
	@apply text-medium;
}

small {
	@apply text-s;
}

::-webkit-scrollbar {
	width: 6px;
	height: 4px;
}

::-webkit-scrollbar-track {
	@apply bg-util-primary dark:bg-util-primary-dark;
}

::-webkit-scrollbar-thumb {
	@apply bg-brand dark:bg-brand-dark rounded-sm;
}

@layer components {
	.center--row {
		@apply flex items-center justify-center;
	}
	.center--col {
		@apply flex items-center justify-center flex-col;
	}
}

